:root {
  --background: #F2F4F5;
  --menubackground: #ECF0F1;
  --bordercolor: #CDD3D8;
  --gray: #CCD3D7;
  --textcolor: #2C3E50;
  --backgroundpattern: rgb(44, 62, 80, .2);
  --shadowcolor: #d1d0d0;
  --acolor: #c24444;
}


[data-theme="dark"] {
  --background: #1E1E21;
  --menubackground: #191A1C;
  --bordercolor: #242527;
  --gray: #1D2225;
  --textcolor: #F2F4F5;
  --backgroundpattern: rgb(242, 244, 245, .05);
  --shadowcolor: #111112;
  --acolor: #c24444;
}

body {
  margin: 0;
  min-height: 100vh;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;

  background: var(--background);
  background-image: radial-gradient(var(--backgroundpattern) 2px, transparent 2px);
  background-size: 64px 64px;
  background-repeat: repeat;
}

* {
  margin: 0;
  color: var(--textcolor);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
}